---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Milena Giacomini">
  <main>
    <h1>Milena Giacomini</h1>

    <p id="typing-text"></p>

    <nav>
  <a href={`${import.meta.env.BASE_URL}sobre`}>→ Sobre mim</a>

  <a href={`${import.meta.env.BASE_URL}curriculo`}>→ Currículo</a>

  <a href={`${import.meta.env.BASE_URL}projetos`}>→ Projetos</a>

  <a href={`${import.meta.env.BASE_URL}colaboracoes`}>→ Colaborações</a>

  <a href={`${import.meta.env.BASE_URL}contato`}>→ Contato</a>

  <a href={`${import.meta.env.BASE_URL}blog`}>→ Blog</a>
    </nav>

    <script>
  const text =
    "Jornalista, especialista em estratégia de conteúdo e distribuição";

  const element = document.getElementById("typing-text");

  if (element) {
    const el = element; // narrow for closures
    let index = 0;

    function type() {
      if (index < text.length) {
        el.textContent += text.charAt(index);
        index++;
        setTimeout(type, 40);
      }
    }

    type();
  }
</script>
  </main>
</Layout>