---
import "../styles/global.css";

interface Props {
  title?: string;
}

const { title = "Milena Giacomini" } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />

  <meta
    name="description"
    content="Milena Giacomini é jornalista e estrategista de conteúdo e distribuição. Trabalha com jornalismo digital, comunidade, redes sociais e produtos editoriais."
  />
<meta name="theme-color" content="#fffdf7" />


  <link
    rel="icon"
    href={`${import.meta.env.BASE_URL}favicon.ico`}
    sizes="any"
  />

  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href={`${import.meta.env.BASE_URL}favicon-32x32.png`}
  />

  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href={`${import.meta.env.BASE_URL}favicon-16x16.png`}
  />

  <link
    rel="apple-touch-icon"
    href={`${import.meta.env.BASE_URL}apple-touch-icon.png`}
  />

  <meta name="generator" content={Astro.generator} />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <link
    href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap"
    rel="stylesheet"
  />

  <title>{title}</title>
</head>

<body>
  <slot />
</body>
</html>